  <%- include('../_layouts/adminheader'); %>
  
  <h2 class="page-title mt-3 "> Add a page </h2>
  <a href="/admin/pages" class="btn btn-outline-primary">Back to all page</a>
  <br><br>

  <form method="POST" action="/admin/pages/add-page">
      
      <div class="mb-3">
          <label for="" class="form-label">Title</label>
          <input type="text" class="form-control" name="title" value="<%= title %>" placeholder="Title">
      </div>
      
      <div class="mb-3">
          <label for="" class="form-label">Slug</label>
          <input type="text" class="form-control" name="slug" value="<%= slug %>" placeholder="slug">
      </div>
      
      <div class="mb-3">
          <label for="" class="form-label">content</label>
          <textarea class="form-control" cols="30" id="ta" name="content" rows="10" placeholder="content"><%= content %></textarea>
      </div>

      <button class="btn btn-primary mt-3">Submit</button>
  </form>

  <%- include('../_layouts/adminfooter'); %>