<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.css" integrity="sha256-Vzbj7sDDS/woiFS3uNKo8eIuni59rjyNGtXfstRzStA=" crossorigin="anonymous" />
    <link href="/css/styles.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>  <!-- first -->
      <style>
    #err {
      animation: fade-out 5s forwards;
    }

    @keyframes fade-out {
      0% {
        opacity: 1;
      }

      100% {
        opacity: 0;
        display: none;
      }
    }
  </style>

  </head>
  <body>
    
    <div class="ajaxbg">
      <div class="ajaxinner">
        <h3>You are now redirected to payment</h3>
        <img src="/images/Spinner-1s-200px.gif">
      </div>
    </div>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <% pages.forEach(function(data){ %>
          <%if(data.slug== "home"){%>
            <li class="nav-item">
              <a class="nav-link" href="/"><%=data.title%></a>
            </li>
            <%} else{%>
              <li class="nav-item">
                <a class="nav-link" href="/<%=data.slug%>"><%=data.title%></a>
              </li>
              <%}%>
         
        <% }); %>
      </ul>

      <ul class="navbar-nav mb-2 mb-lg-0 navbar-right"> 
        <li class="nav-item">
          <a href="/cart/checkout">My Cart(
            <% if (typeof cart != "undefined") { -%>
              <%= cart.length %>
            <% } else { -%>
              0
            <% } -%>
          )</a>
        </li>
<!-- -->
        <% if (typeof user != "undefined") { -%>    <!-- If user exist -->
          <% if (user.admin === 1) { -%>            <!-- Check if user is admin-->
          <li class="nav-item mx-2"> <a href="/admin/pages"> AdminArea </a> </li> <!-- If admin give button to adminArea-->
          <% } -%>
          <li class="nav-item mx-2"> <a href="/auth/logout"> <%=user.name%> (Logout) </a> </li> <!-- If not just display the logout button-->

        <% } else { -%>
          <li class="nav-item mx-2"> <a href="/auth/login"> Login</a> </li>
          <li class="nav-item mx-2"> <a href="/auth/register"> Register</a> </li>
        <% } -%>
        
      </ul>
    </div>
  </div>
</nav>
    
  <div class="container">
    <% if (error) { %>
      <div class="alert alert-danger" id="err">
        <%= error %>
      </div>
      <% } %>
  </div>
<!--  -->

<div class="row container">
  <div class="col-xs-12 col-md-3">
    <h3>Categories</h3>
    <ul class="list-group">
      <li class="list-group-item">
        <a href="/products">All Products</a>
      
      </li>
      <% categories.forEach(function(data){ %>
        <li class="list-group-item">
          <a href="/products/<%=data.slug%>"><%=data.title%></a></a>
        </li>
    <% }); %>
    </ul>

  </div>
  <div class="col-xs-12 col-md-1"></div>
  <div class="col-xs-12 col-md-8">

 